@charset "utf-8";

.inner{
  width: 1100px;
  box-sizing: border-box;
  margin: auto;
}

header, main, footer{
  min-width: 1100px;
}

/* --------要素サイズーーーーーー */


header{
  position: fixed;
  background-color: #fff;
  z-index: 100;
  width: 100%;
}

.box-header{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.logo{
  padding: 15px 0 ;
  color: #777;
}

.contact{
  margin: auto 0;
}

.list{
  color: #fff;
  background-color: #6ba7eb;
  font-size: 12px;
  padding: 12px 14px;
}

.list:hover{
  transition: 0.3s;
  color: #333;
}

a{
  text-decoration: none;
}


/* -------------ここまでheader-------------------- */

.keyvisual{
  padding-top: 78px;
}

.title-text{
  background: url(../img/keyvisual/keyvisual.jpg)no-repeat center/cover;
  padding: 400px 0;
  text-align: center;
}

.letter-main{
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  margin-bottom: 30px;
}

.letter-sub{
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
}

/* ーーーーここまでkeyvisualーーーーー */

.work{
  background-color: #e3f2fd;
  padding-top: 50px;
}

.text-box{
  display: flex;
  justify-content:space-between;
}

.pc{
  width: 40%;
}

.img{
  width: 250px;
}

.sentence{
  padding-top: 20px;
  text-align: center;
  width: 60%;
}

h3{
  text-align: center;
  font-size: 40px;
  letter-spacing: 10px;
}

.documents{
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
  padding-top: 35px;
}

/* ーーーーーーここまでworkーーーーーーー */

.skills{
 padding-top: 50px;
}

.grid{
  margin: 70px auto;
  display: grid;
  grid-gap: 100px;
  grid-template-rows: 300px 300px;
  grid-template-columns: 1fr 1fr 1fr;
  
}

.skills-one{
  background: url(../img/skills/skills_1.png)no-repeat center/cover;
  opacity: 0.7;
  transition:all 0.7s;
}

.skills-two{
  background: url(../img/skills/skills_2.png)no-repeat center/cover;
  opacity: 0.7;
  transition:all 0.7s;
}

.skills-three{
  background: url(../img/skills/skills_3.png)no-repeat center/cover;
  opacity: 0.7;
  transition:all 0.7s;
}

.skills-four{
  background: url(../img/skills/skills_4.png)no-repeat center/cover;
  opacity: 0.7;
  transition:all 0.7s;
}

.skills-five{
  background: url(../img/skills/skills_5.png)no-repeat center/cover;
  opacity: 0.7;
  transition:all 0.7s;
}

.skills-six{
  background: url(../img/skills/skills_6.png)no-repeat center/cover;
  opacity: 0.7;
  transition:all 0.7s;
}

.skills-one:hover ,.skills-two:hover ,.skills-three:hover ,.skills-four:hover ,.skills-five:hover ,.skills-six:hover{
  opacity: 1;
}

/* ーーーーーーーーーーここまでWE WE ARE SKILLSーーーーーーー */


.plan{
  padding: 50px 0;
  background-color: #d0dfea;
}

.planning{
margin-top: 50px;
}

table{
  padding-top: 50px;
  table-layout: fixed;
  text-align: center;
}

 tr:nth-child(odd){
  background-color: #f9f9f9;
}

tr:nth-child(even){
  background-color: #e0efff;
}

th{
  background-color: #6ba7ed;
}

th , td{
  padding: 10px;
  font-size: 16px;
  line-height: 26px;
  border-right: 2px solid #fff;
  
}

th:last-child{
  border-right: none;
}

td:last-child{
  border-right: none;
}

/* ーーーーーーここまでSELECT PLANーーーーーーーーーー */


.sns{
  background-color: #e3f2fd;
  padding: 200px 0;
}

.sns-box{
  display: flex;
  justify-content: center;
  
} 

.url-sns{
  width: 185px;
  text-align: center;
}

.url-sns:hover{
  background-color: #fff;
  transition:all 0.5s;
}

.fas .fab, .fa-facebook-f, .fa-dribbble, .fa-twitter, .fa-envelope{
  color: #8c8c8c;
  font-size: 40px; 
  overflow: hidden;
  margin: 25px 0;
}

/* ーーーーーーここまでSNSーーーーーーーーーー */


footer{
  background-color: #cfd8dc;
}

.copy{
  padding: 20px 0 25px;
  font-size: 10px;
  letter-spacing: 0.5;
  text-align: right;
  margin-right: 100px;
}